#table-scroll {
    height:350px;
    width: 900px;
    overflow:auto;  
    margin-top:0px;
    margin-bottom: 30px;
    border-style: solid;
  }
  #table-header {
    height:75px;
    width: 900px;
    overflow:auto;     
    margin-top:0px;
    border-style: solid;
    margin-bottom: 0px;
    
  }