
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">

  <div class="site-logo">
    <a href="/"><img src="/assets/images/logo.png"></a>
  </div>

  <a class="navbar-brand" routerLink="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a> -->

        <a *ngFor="let li of leagues"
        routerLink="/leagues"
        [queryParams]="{ leagues: li.id} "
         class="list-group-item" class="list-group-item-action">
         <br>
         <br>
          <b><p>{{ li.l | uppercase}}</p></b>
      </a>

    </ul>
  </div>
</nav>
