
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <div class="site-logo">
    <a href="#"><img src="/assets/images/logo.png"></a>
  </div>

  <a class="navbar-brand" routerLink="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <ng-container *ngIf="league !== null ; else noLeague">
        <a class="navbar-brand" routerLink="/stading" [queryParams]="{ choise: 'stading',league:league} ">Stading</a>
      </ng-container>


      <ng-template #noLeague>

        <a class="navbar-brand" routerLink="/stading" [queryParams]="{ choise: 'stading'} ">Stading</a>

      </ng-template>


       <!--
        <a *ngFor="let li of leagues"
        routerLink="/stading"
        [queryParams]="{ league: li.id} "
         [class]="league === li.id" class="list-group-item" class="list-group-item-action" >
         <br>
        <div id="tab"><p class="text-white"><b>{{ li.l | uppercase}}</b></p></div>
      </a> -->
    </ul>

  </div>
</nav>
