

#left{
    width: 30%;
    margin-top: -100px;
    margin-left: 25px;
    float: left;
    position: fixed;
    
}

#right {
    width: 67%;
    margin-top: -100px;
    margin-right: 25px;
    float: right;
    /* background-color:hsla(0,0%,75%,0.9); */
    
}

#full {
    width: 100%;
    margin-top: -50px;
    
}
