
   
  <div class="row">
    <div class="col-9"  >
  <!-- <div id="table-scroll"> -->
     <table class="table table-striped" border="1" style="background-color:rgba(243, 235, 235, 0.863);" >
       <thead>
         <tr>
           <th scope="col">Position</th>
           <th scope="col">Team name</th>
           <th scope="col">Form</th>
           <th scope="col">Points</th>
         </tr>
       </thead>
       <tbody>
        <ng-container *ngFor="let s of stading$ | async; let i=index">
         <tr>

           <td scope="row">{{i+1}}</td>
           <td scope="row"> <a routerLink="/"
            [queryParams]="{ teamID:s.idTeam } "
             class="list-group-item" class="list-group-item-action"><img [src]="s.logo" style="max-height:30px;">  {{s.teamName}}</a></td>
           <td scope="row">{{s.form}}</td>
           <td scope="row">{{s.points}}</td>
         </tr>
       </ng-container>

       </tbody>

       </table>

      </div>
    </div>

  <!-- <div class="row">
    <div>
    <app-fixtures></app-fixtures>
    </div>
    <div >
      <app-fixturesns></app-fixturesns>
      </div>
    </div> -->








